[Unit]
Description=Tracr - déclenche l'agent de mise à jour périodiquement

[Timer]
# Première vérification 30 s après le boot, puis toutes les 30 s.
OnBootSec=30s
OnUnitActiveSec=30s
AccuracySec=5s

[Install]
WantedBy=timers.target
